.reviews-list {
    width: 85% !important;
    font-size: 15px;
    margin: 0 auto;
    .review {
        width: 300px;
        display: inline-block;
        background: #fff;
        border: 1px solid #6c757d;
        img {
            width: 75px;
            height: 70px;
            background: #fff;
            position: relative;
            top: -65px;
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
        .review-description {
            margin-top: -50px;
        }
    }
}
.carousel-inner {
    overflow: visible !important;
}
.carousel-prev, .carousel-next {
    color: #000;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    top: 35%;
    &:hover {
        color: #000;
        text-decoration: none;
    }
}
.carousel-next {
    right: 0;
}

