.navigation{
    width:100px;
    z-index: 6;
    position: fixed;
    left: 0;
    background-color:#fff;
    &__body{
        height: 95vh;
    }
    &__logo{
        width:100px;
        position: relative;
        left: -14px;
    }
}

@media screen and (max-width: 767px){
    .navigation{
        display: none;
        padding: 0 !important;
        margin: auto !important;
        background-color: transparent !important;
        box-shadow: transparent !important;
    }
}
  