.navigation{
    width:100px;
    z-index: 3;
    position: fixed;
    left: 0;
    background-color:#fff;
    &__body{
        height: 95vh;
    }
    &__logo{
        width:100px;
        position: relative;
        left: -14px;
    }
}