.details-page {
    margin-left: 100px;
}
.details-page-with-sidebar {
    margin-left: 410px;
    .review-form-container{
        .opacity, .leave-a-review{
            width: 60%;
        }
        .leave-a-review {
            left: 15px;
        }
    }
}
.heading {
    letter-spacing: 1px;
}
.details-page-header {
    box-shadow: (0 0 12px rgba(129, 129, 129, 0.11));
    &__container {
        display: flex;
        justify-content: space-between;
    }
    .text-dark {
        color: #000 !important;
    }
}
.tabs-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    .tabs {
        width: 70%;
        cursor: pointer;
        box-shadow: 0 3px 6px -6px black;
    }
    .tab {
        width: 25%;
        text-align: center;
    }
    .active {
        border-bottom: 3px solid;
    }
    .pdf-btn {
        padding: 3px 15px;
        border-radius: 15px;
        background-color: #fff;
        border: 1px solid black;
        &:focus,
        &:active {
            outline: none;
        }
        &:hover {
            color: #fff;
            background: #000;
        }
    }
}
.begin-your-journey {
    width: 190px;
    color: #fff;
    position: absolute;
    right: -73px;
    top: 625px;
    z-index: 2;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 8px 15px;
    background: #000;
    transform: rotate(270deg);
}
.review-form-container {
    position: relative;
    .review-form-bg-image {
        width: 100%;
        height: 605px;
        background: url("../../assets/images/Layer\ 3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }
    .opacity {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 605px;
        opacity: 0.7;
        z-index: 2;
        background-color: rgba(0,0,0,0.9);
    }
    .leave-a-review {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 605px;
        color: #fff;
        z-index: 2;
        .stars img {
            width: 33px;
            height: 30px;
            cursor: pointer;
        }
        &__form {
            .form-fields {
                position: relative;
                padding-bottom: 25px;
                label {
                    font-size: 12px;
                    position: absolute;
                    top: -8px;
                    left: 10px;
                    padding: 0 5px;
                    border-radius: 15px;
                    background-color: rgba(15, 15, 15, 0.699);
                }
                input,
                textarea {
                    width: 100%;
                    color: #fff;
                    outline: none;
                    font-size: 14px;
                    border-radius: 5px;
                    padding: 10px 13px;
                    background: transparent;
                    border: 1px solid rgb(156, 155, 155);
                }
                textarea {
                    height: 150px;
                }
            }
            .submit-btn {
                span{
                    font-size: 16px;
                    padding: 10px 35px;
                }
            }
        }
    }
}
.reviews-list {
    width: 85%;
    font-size: 15px;
    margin: 0 auto;
    .review {
        border: 1px solid #6c757d;
        img {
            width: 100px;
            position: relative;
            top: -65px;
            background: #fff;
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
        .review-description {
            margin-top: -50px;
        }
    }
}
.similar-tours-image {
    width: 100%;
    height: 300px;
    position: relative;
    background: url("../../assets/images/similarToursBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    &__opacity {
        width: 100%;
        height: 300px;
        background: #000;
        opacity: 0.7;
        position: absolute;
    }
    &__text {
        z-index: 2;
        width: 35%;
        height: 300px;
        color: #fff;
        padding: 20px 50px;
        border-right: 1px solid white;
        &__days {
            color: #e8d02e;
            font-size: 16px;
        }
        &__title {
            font-size: 24px;
        }
        &__description {
            color: #e1e1e1;
            font-size: 14px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
    .view-more {
        cursor: pointer;
        text-decoration: underline;
    }
}
.mobile-pdf-btn {
    display: none;
}

//when know more button is clicked
.banner-sidebar {
    width: 340px;
    height: 100%;
    position: fixed;
    left: 100px;
    z-index: 3;
    background: url("../../assets/images/banner-sidebar.png");
    background-size: cover;
    animation: moveInRight 0.4s ease-out;
    .overlay-sidebar {
        position: fixed;
        width: 340px;
        height: 100%;
        left: 100px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        animation: moveInRight 0.4s ease-out;
    }
    .display-4,
    &__sub-title {
        position: relative;
        z-index: 3;
    }
    &__sub-title {
        letter-spacing: 11px;
        font-size: 16px;
        padding: 0 !important;
        line-height: 0;
    }
}

@keyframes moveInRight {
    0% {
        left: 150px;
    }
    100% {
        left: 100px;
    }
}


//media query
@media screen and (max-width: 992px) {
    .banner-sidebar, .overlay-sidebar {
        width: 100% !important;
        height: 300px !important;
    }
    .banner-sidebar {
        animation: none;
        .display-4 {
            left: -50px;
        }
        &__sub-title {
            left: -40px;
        }
    }
    .details-page-header {
        margin-top: 300px;
        &__container {
            flex-direction: column;
            .price {
                padding: 10px 0;
            }
        }
    }
    .details-page-with-sidebar {
        margin-left: 100px;
        .review-form-container .leave-a-review {
            left: 0;
        }
    }
    .tabs-container {
        margin-top: 10px;
        .tabs {
            width: 100%;
            flex-direction: column;
        }
        .tab {
            width: 100%;
            padding: 10px;
            border-top: none;
            border: 1px solid black;
        }
        .active {
            padding: 10px;
            color: white;
            background: black;
        }
    }
    .mobile-pdf-btn {
        display: block;
        padding: 3px 15px;
        border-radius: 15px;
        background-color: #fff;
        border: 1px solid black;
        &:focus,
        &:active {
            outline: none;
        }
        &:hover {
            color: #fff;
            background: #000;
        }
    }
    .pdf-btn, .breadcrumbs {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .banner-sidebar, .overlay-sidebar {
        left: 0 !important; 
        width: 100% !important;
        height: 300px !important;
    }
    .banner-sidebar {
        animation: none;
        position: relative;
    }
    .overlay-sidebar {
        position: absolute !important;
    }
    .details-page-header {
        margin-top: 20px;
        &__container {
            flex-direction: column;
            .price {
                padding: 10px 0;
            }
        }
    }
    .details-page-with-sidebar {
        margin-left: 0px;
        .review-form-container {
            .leave-a-review, .opacity {
                width: 100%;
            }
        }
    }
    .similar-tours-image{
        &__text{
            padding: 20px;
        }
    }
}