.details-page {
    margin-left: 100px;
}
.heading {
    letter-spacing: 1px;
}
.details-page-header {
    box-shadow: (0 0 12px rgba(129,129,129,0.11));
    .text-dark {
        color: #000 !important;
    }
}
.tabs {
    width: 70%;
    cursor: pointer;
    box-shadow: 0 3px 6px -6px black;
}
.tab {
    width: 25%;
    text-align: center;
}
.active {
    border-bottom: 3px solid;
}
.pdf-btn {
    border-radius: 15px;
    padding: 3px 15px;
    background-color: #fff;
    border: 1px solid black;
}