
.font-size-12{
    font-size: 12px;
}
.font-size-14 {
    font-size: 14px;
}
.options-div {
    width: 400px;
    max-width: 400px;
}
.toggle-btn {
    padding: 0;
    border: none;
    font-size: 35px;
    background: none;
}

.toggle-btn:focus {
    border: none;
    outline: none;
}
.faq-list {
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}
.bg-color {
    background: #e3f7ff;
}

.display-block {
    display: block;
}
.hide-block{
    display: none;
}