.about-us-container {
    margin-left: 100px;
    font-family: "Poppins";
}
.breadcrumbs{
    font-size: 12px;
}
.about-us-header {
    box-shadow: (0 0 12px rgba(129,129,129,0.11));
}
.next-wanderlust-intro {
    .display-1 {
        line-height: 0.75 !important;
    }
    .bg-image {
        width: 670px;
        background-image: url('../../assets/images/next-wanderlust-bg.png');
        background-size: contain;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }
}
