.header {
    color: #000;
    font-size: 18px;
}
.form-toggle-btn {
    width: 50px;
    height: 50px;
    right: 0;
    top: 320px;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    background-color: #e3f7ff;
    span {
        position: absolute;
        left: 8px;
        top: 5px;    
        font-size: 35px;
    }
}
.form {
    position: absolute;
    top: 365px;
    right: 0;
    width: 390px;
    background-color: #e3f7ff;
    input {
        width: 300px;
        height: 35px;
        padding: 0 15px;
        font-size: 14px;
        border-radius: 5px;
        background: transparent;
        border: 1px solid #6c757d;
        &:active, &:focus {
           outline: none;
        }
    }
    .form-fields {
        position: relative;
    }
    label {
        left: 10px;
        top: -9px;
        color: #000;    
        font-size: 12px;
        padding: 0 4px;
        position: absolute;
        background-color: #e3f7ff;
    }
}
.book-now-btn {
    font-size: 16px !important;
    padding: 8px 20px !important;
}
.content, .warning {
    font-size: 14px;
}
.fig-captions {
    font-size: 14px;
    color: #5a5a5a;
}
table {
    border: 1px solid #dee2e6 !important;
}