.navigationMenu{
    color: #000;
    height: 300px;
    .icons{
        font-size: 18px;
        cursor: pointer;
        &:not(:last-child){
            margin-bottom: 65%;
        }
    }
    .font-22{
        font-size: 22px;
    }
}