.menuBar{
    height: 100vh;
    width: 55%;
    background-color: #fff;
    position: fixed;
    left: 100px;
    z-index: 5;
    animation: moveInLeft 0.5s ease-out;
    font-size: 30px;
    line-height: 27px;
    color: #000000;
    font-weight: 400;

    .menus-container, .contact-container{
        padding: 0 10%;
    }
    .menu-option{
        cursor: pointer;
        &:hover{
            color: #17a2b8;
            text-decoration: underline;
            animation: bounce 1s infinite;
        }
    }
    .contact-list h6 {
        font-size: 15px;
    }
    .search-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .location-img {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 45px;
            padding: 50px;
            background: #000;
            border-radius: 50px;
            &:hover{
                background-color: #068dbb;
            }
            img {
                width: 45px;
            }
        }  
        .image-title {
            font-size: 15px;
        }
    }  
    
}

@keyframes bounce {
    0%, 100% {
       transform: translateY(5px);
    } 
    50% {
        transform: translateY(-5px);
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-10rem);
    }
    100% {
        transform: translate(0);
    }
}